*{
    padding: 0; 
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
 }
 body{
     font-family: 'Poppins', sans-serif;
 }
 
 nav{
     background: #FFFF;
     height: 100px;
     width: 100%;
     box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
     position: fixed; /* Make it stick/fixed */
     
 }
 .logo{
     margin-top: 25px;
     margin-left: 40px;
     height: 40px;
 }
 
 nav ul{
     float: right;
     margin-right: 80px;
 }
 
 .menu-btn{
     color:black;
     font-size: 25px;
     cursor: pointer;
     float: right;
     display: none;
     
 }
 #click{
     display: none;
 }
 
 nav ul li{
     display: inline-block;
 }
 
 nav ul li a{
     color: black;
     font-size: 17px;
     padding: 7px 13px;
 }
 
 nav ul li button{
     height: 35px;
     width: 120px;
     border: 0cm;
     border-radius: 6px;
     margin-top: 35px;
     
 }
 nav ul li img{
     width: 23px;
     height: 23px;
     margin-top: 35px;
 }
 nav ul li img:hover{
     transform: translateY(-2px);
     transition: 0.45;
 }
 
 nav ul li p{
     display: none;
 }
 
 
 #empleados_button{
     background-color: white;
    
     
 }
 
 #registrarse_button{
    background-color: #007074;
    color: white;
 }
 
 nav ul li button:hover{
     background-color: white;
     box-shadow: 0px 15px 15px rgba(0, 0, 0, .2);
     transform: translateY(-2px);
     transition: 0.45;
 }
 
h2{
    padding-top: 150px;
    float: left;
    padding-left: 280px;
    font-weight: 500;

} 
h3{
    padding-top: 200px;
    padding-left: 80px;
    font-weight: 450;
}

p{
    padding-top: 5px;
    padding-left: 80px;
    font-weight: 300;
}

form{
    padding-top: 20px;
    padding-left: 120px;
    /* texto place holder */
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    
}

.form_cell{
    height: 40px;
    width: 450px;
    background: #EFF0F2;
    border: none;
    padding-left: 30px;
}

#ir_a_pagar{
    background-color: #007074;
    color: white;
    height: 35px;
    width: 120px;
    border-radius: 6px;
    border:none;
}

#ir_a_pagar:hover{
    background-color: #007074;
    transform: translateY(-2px);
    transition: 0.45;
}

.card{
    float: right;
    padding-top: 210px;
    padding-right: 80px;
}

.container{
    padding-top: 20px;
    padding-left: 20px;
    font-weight: 300;

}


/* Footer Maestro */

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: #F3F3F3;
    height: 150px;
   
  }

.footer ul {

    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.footer ul li{
    display: inline-block;
    padding-top: 40px;
}

.footer  ul li a{
    color: #838383;
    font-size: 15px;
    padding: 45px;
}

.footer img{
   line-height: 50px;
}

